[user]
	email = naicigam@gmail.com
	name = Juan Manuel Alvarez
	
[credential]
	helper = store

#---------------------------------------------------
# Based on https://kurtdowswell.com/software-development/git-bash-aliases/

[alias]

	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
	lg ='git log --graph --oneline --decorate --all'

	d = diff
	ds = diff --stat
	dc = diff --cached

	a = add
	ap = add -p
	aa = add .
	c = commit --verbose
	ca = commit -a --verbose
	cm = commit -m
	cam = commit -a -m
	m = commit --amend --verbose
	ac = !git add -A && git commit -m

	s = status -sb
	co = checkout
	cob = checkout -b

	p = push -u origin HEAD

	rh = reset --hard

	# removes all the branches that have been merged to the current branch
	clean-merged = !git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d

	# list branches sorted by last modified
	b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

	# list aliases
	la = "!git config -l | grep alias | cut -c 7-"
